.ticket {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 10px 16px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  transition: border-color 0.6s;
}

.ticket.danger {
  background-color: rgba(255, 0, 0, 0.03);
}

.ticket:hover {
  border-color: var(--color-blue);
}

.ticket.danger:hover {
  border-color: rgb(202, 54, 54);
}

.ticket .id {
  text-transform: uppercase;
  color: var(--color-blue);
  font-weight: 600;
  margin-bottom: 20px;
}

.ticket .data {
  display: flex;
  flex-direction: column;
}

.ticket .data-line {
  display: flex;

  align-items: end;
  gap: 10px;
}

@media (max-width: 640px) {
  .ticket .data-line {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}

.ticket .data-line .label {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--color-gray);
  width: 100px;
}

.ticket .data-line p {
  margin-left: 0;
  flex: 1;
}

.ticket .bottom-bar {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 30px;
}

.ticket .status {
  padding: 4px 8px;
  border-radius: 999px;
  background-color: var(--color-lighter-blue);
  font-size: 12px;
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: 700;
}

.ticket .status.danger {
  background-color: rgb(202, 54, 54);
  color: white;
}

.ticket .bottom-bar .actions {
  display: flex;
  gap: 6px;
  margin-right: 10px;
}

.ticket .bottom-bar .status-list {
  display: flex;
  gap: 6px;
}


.home-grid1 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  align-content: start; 
  justify-content: start; 
  position: relative;
}


.no-duty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.no-duty-image {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
  pointer-events: none;
  opacity: 0.1;
  object-fit: contain;
}


.no-duty-container h2 {
  font-size: 20px;
  color: #333;
  margin: 0 0 8px 0;
  font-weight: 500;
}


.no-duty-container p {
  font-size: 14px;
  color: #5f6368;
  margin: 0;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  align-content: start;
}

.ticket {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 10px 16px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  transition: border-color 0.6s;
}

.ticket.danger {
  background-color: rgba(255, 0, 0, 0.03);
}

.ticket:hover {
  border-color: var(--color-blue);
}

.ticket.danger:hover {
  border-color: rgb(202, 54, 54);
}

.ticket .id {
  text-transform: uppercase;
  color: var(--color-blue);
  font-weight: 600;
  margin-bottom: 20px;
}

.ticket .data {
  display: flex;
  flex-direction: column;
}

.ticket .data-line {
  display: flex;

  align-items: end;
  gap: 10px;
}

@media (max-width: 640px) {
  .ticket .data-line {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}

.ticket .data-line .label {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--color-gray);
  width: 100px;
}

.ticket .data-line p {
  margin-left: 0;
  flex: 1;
}

.ticket .bottom-bar {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 30px;
}

.ticket .status {
  padding: 4px 8px;
  border-radius: 999px;
  background-color: var(--color-lighter-blue);
  font-size: 12px;
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: 700;
}

.ticket .status.danger {
  background-color: rgb(202, 54, 54);
  color: white;
}

.ticket .bottom-bar .actions {
  display: flex;
  gap: 6px;
  margin-right: 10px;
}

.ticket .bottom-bar .status-list {
  display: flex;
  gap: 6px;
}



@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
}