main {
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 50;
}

header nav {
  margin-left: 20px;
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
}

header nav a {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 16px;
}

header .logo {
  display: flex;
  flex-direction: column;
}

header .logo span {
  margin-top: 2px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}

header nav a:hover {
  text-decoration: underline;
}

.dashboard-layout {
  display: flex;
}

.dashboard-layout .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.sidebar {
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  overflow: auto;
  background-color: var(--color-lighter-blue);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  z-index: 40;
  transition: transform 0.3s ease-in-out;
}

.sidebar a {
  padding: 10px 10px;
  font-weight: 500;
  color: var(--color-dark-blue);
  border-radius: 6px;
  margin-bottom: 10px;
}

.sidebar a:not(.active):hover {
  background-color: var(--color-light-blue);
}

.sidebar a.active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.sidebar-toggler {
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle:active {
  transform: scale(0.9);
}

.container {
  border: 1px var(--color-gray) solid;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.container.large {
  max-width: 600px;
}
.container.x-large {
  max-width: 800px;
}

.container.no-border {
  border: none;
}

.container h1 {
  margin-bottom: 20px;
}

.container h3 {
  margin-bottom: 16px;
}

.container hr {
  width: 100%;
  margin: 20px 0;
  border: 1px solid var(--color-gray);
}

form {
  display: flex;
  flex-direction: column;
}

form .field {
  margin-bottom: 16px;
}

form .btn {
  width: max-content;
  max-width: 100%;
}

.data-line {
  display: flex;
  margin-bottom: 10px;
}

.data-line span {
  text-transform: uppercase;
  color: var(--color-gray);
  width: 80px;
  font-size: 11px;
}

.container.large .data-line span {
  width: 180px;
}

@media (max-width: 768px) {
  .data-line span {
    width: 80px;
    font-size: 11px;
  }

  .container.large .data-line span {
    width: 80px;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    padding: 80px 20px;
  }

  .sidebar.active {
    transform: translateX(0%);
  }

  .sidebar-toggler {
    display: flex;
  }
}

.data-line p {
  flex: 1;
  margin-left: 10px;
}

.container .warning {
  padding: 20px;
  border-radius: 6px;
  background-color: var(--color-red);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.container .warning h3 {
  margin-bottom: 10px;
}

/* Table Container Styling */
.table-container {
  width: 100%;
  overflow: auto;
}

/* Table Styling */
table,
.officer-table,
.fines-table,
.unfair-fines-table,
.court-violations-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
.officer-table th,
.fines-table th,
.unfair-fines-table th,
.court-violations-table th {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  padding: 8px 12px;
  background-color: var(--color-lighter-blue);
  border: 1px solid var(--color-gray);
}

table td,
.officer-table td,
.fines-table td,
.unfair-fines-table td,
.court-violations-table td {
  font-size: 8px 12px;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

table td.centered,
.officer-table td.centered,
.fines-table td.centered,
.unfair-fines-table td.centered,
.court-violations-table td.centered {
  text-align: center;
  vertical-align: middle;
}

/* Table Hover Effects */
.officer-table tbody tr:hover,
.fines-table tbody tr:hover,
.unfair-fines-table tbody tr:hover,
.court-violations-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Status Label Styling */
.status {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
}

.status.pending {
  background-color: orange;
}

.status.solved,
.status.paid,
.status.accepted {
  background-color: green;
}

.status.not-solved,
.status.late,
.status.rejected {
  background-color: red;
}

/* View Button Styling */
.view-button {
  background-color: hsl(220, 100%, 40%);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #003399;
}

/* Responsive Styling */
.table-responsive {
  overflow-x: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 1024px) {
  .home-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .home-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.home-grid .tile {
  background-color: var(--color-light-blue);
  color: var(--color-blue);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.home-grid .tile:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.home-grid .ticket {
  background-color: var(--color-light-blue);
  color: var(--color-blue);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: end; */
  padding: 20px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ticket.warn {
  background-color: var(--color-lighter-red);
  color: black;
}

.home-grid .ticket:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
