.navigation-tile-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .navigation-tile-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .navigation-tile-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .navigation-tile-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.navigation-tile-grid .tile {
  background-color: var(--color-light-blue);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-tile-grid .tile.emergency-services {
  background-image: url("/digifine/assets/emergency.jpg");
}

.navigation-tile-grid .tile.tips-drivers {
  background-image: url("/digifine/assets/tips.jpg");
}

.navigation-tile-grid .tile.traffic-signs {
  background-image: url("/digifine/assets/traffic-signs.jpg");
}

.navigation-tile-grid .tile.remaining-points {
  background-image: url("/digifine/assets/remaining-points1.jpg");
}

.navigation-tile-grid .tile.police-stations {
  background-image: url("/digifine/assets/police-stations.jpg");
}

.navigation-tile-grid .tile.tell-igp {
  background-image: url("/digifine/assets/tell-igp.jpg");
}

.navigation-tile-grid .tile:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.tile span {
  position: relative;
  font-weight: bold;
  z-index: 1; /* Ensure the text appears above the highlight */
  color: black; /* Adjust text color if needed */
}

.tile span::before {
  content: "";
  position: absolute;
  bottom: 0; /* Position at the base of the text */
  left: -10px; /* Extend the highlight to the left */
  right: -10px; /* Extend the highlight to the right */
  height: 15px; /* Adjust the height of the highlight bar */
  background-color: white; /* White highlight bar */
  z-index: -1; /* Place the highlight behind the text */
  transform: skewX(-10deg); /* Optional: Add an angled effect */
}

.insights-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; /* Ensures items wrap to the next row on smaller screens */
}

.inner-tile {
  display: flex;
  align-items: center;
  background-color: #f9fbff;
  border-radius: 10px;
  padding: 10px;
  width: 24%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.inner-tile:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon img {
  width: 50%;
  height: auto;
}