* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

button,
input,
select,
textarea {
  outline: none;
  font-size: inherit;
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --color-dark-blue: #115492;
  --color-blue: #145da0;
  --color-light-blue: #b5daff;
  --color-lighter-blue: #e5f1fd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #a1a1aa;
  --color-red: #e61e1a;
  --color-lighter-red: #f57876;
  font-size: 13px;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

textarea {
  max-height: 200px;
  resize: vertical;
}
